<!DOCTYPE html>
<html lang="en">
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="text-center">

  <div class="container">
    <div class="row">
      <div class="col col-lg-2">
        <button class="mt-5 mb-3 btn btn-lg btn-primary btn-block" routerLink="/login/basic" type="submit">Basic Login</button>
      </div>
      <div class="col col-lg-2">
        <button class="mt-5 mb-3 btn btn-lg btn-primary btn-block" routerLink="/login/basic" type="submit">OAuth Login</button>
      </div>
      <div class="col col-lg-2">
        <button class="mt-5 mb-3 btn btn-lg btn-primary btn-block" routerLink="/login/basic" type="submit">Single sign on</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  
</body>
</html>